html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f0f9f4;
}

main {
  flex: 1;
}

nav {
  background-color: #0077b6 !important;
}

footer {
  background-color: #023e8a !important;
}
section p {
  color: #333;
}
