body {
  background: url("../img/elrodeo.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f9f4;
}

.card-translucent {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
}

.navbar-brand {
  font-weight: bold;
  /* color: #0d6efd !important; */
}

.navbar-custom {
  background-color: rgba(33, 37, 41, 0.85);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.navbar-custom .nav-link {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}
/* .navbar-custom .nav-link:hover {
  color: #0d6efd;
} */

nav {
  background-color: #0077b6 !important;
}

footer {
  background-color: #023e8a !important;
}

section p {
  color: white;
}
